<template>
  <div class="dashboard-page">
    <h1 class="page-title"><b>2019 虎頭山物聯網研習營 &nbsp;</b>
    </h1>
    <br>
    <b-row>
      <b-col lg="12" xs="12">
        <Widget
          title="<h2><b>Time Series Data</b></h2>"
          customHeader>
        <TimeSeriesData/>
        </Widget>
      </b-col>
      <b-col lg="12" xs="12">
        <Widget 
          title="<h2><b>Aggregate Data</b></h2>"
          customHeader>
          <Aggregates/>
        </Widget>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import AnimatedNumber from "animated-number-vue";
import Aggregates from './components/AspectChart/Aggregates'
import TimeSeriesData from './components/AspectChart/TimeSeriesData'
import axios from "axios";

export default {
  name: 'Dashboard',
  components: {
    Widget,
    AnimatedNumber,
    Aggregates,
    TimeSeriesData
  }
};
</script>

<style src="./Dashboard.scss" lang="scss" />
