@import '../../styles/app.scss';

.root {
  height: 100%;
  @include media-breakpoint-up('md') {
    // margin-left: $sidebar-width;
  }
}

.content {
  position: relative;
  flex-grow: 1;
  // 1rem for footer height
  padding: $content-padding $content-padding ($content-padding + 1rem);

  @media (max-width: breakpoint-max(sm)) {
    padding: 20px 15px 40px;
  }

  // hammers disallows text selection, allowing it for large screens
  @media (min-width: breakpoint-min(sm)) {
    user-select: auto !important;
  }
}

.contentFooter {
  position: absolute;
  bottom: 15px;
  color: $text-muted;
  padding: 0 $content-padding;

  a {
    color: $white;
  }
}
