<template>
<div>
    <div>
      <apexchart type=area height=350 :options="chartOptions" :series="series" />
    </div>
</div>
</template>
 <script>
 /* eslint-disable */
import Vue from 'vue';
import VueApexCharts from 'vue-apexcharts';
import axios from "axios";
import { rgbToHsl } from '@amcharts/amcharts4/.internal/core/utils/Colors';
var data = [];
// var dataSet = [[],[],[]]
var temp = [{
            name: 'Motor_Temp',
            data: []
          }
          , {
            name: 'Voltage',
            data:  []
          }, {
            name: 'Pressure',
            data: []
          }
          ];
 export default {
   components: {
        apexchart: VueApexCharts,
      },
      data: function() {
        return {
        data,
        // dataSet: this.getData(),
        series: [{
            name: 'Tempature',
            data: []
          }
          , {
            name: 'vCrest',
            data:  []
          }, {
            name: 'aCrest',
            data: []
          }
          ],
        chartOptions: {
          annotations: {
            yaxis: [{
              y: 25,
              strokeDashArray: 0,
              borderColor: '#FF4560',
              label: {
                borderColor: '#FF4560',
                style: {
                  color: '#fff',
                  background: '#FF4560',
                },
                text: 'Warning',
              }
            }]
          },
          chart: {
            stacked: false,
            zoom: {
              enabled: false
            },
          },
          plotOptions: {
            line: {
              curve: 'smooth',
            }
          },
          dataLabels: {
            enabled: false
          },

          markers: {
            size: 0,
            style: 'full',
          },
          fill: {
            type: 'gradient',
            gradient: {
              shadeIntensity: 1,
              inverseColors: false,
              opacityFrom: 0.45,
              opacityTo: 0.05,
              stops: [20, 100, 100, 100]
            },
          },
          yaxis: {
            labels: {
              style: {
                // color: '#8e8da4',
              },
              offsetX: 0
            },
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false
            }
          },
          xaxis: {
            type: 'datetime'
          },
          title: {
            // text: 'Real Time Data',
            align: 'left',
            offsetX: 14
          },
          tooltip: {
            shared: true
          },
          legend: {
            position: 'bottom',
            horizontalAlign: 'center',
            offsetX: -10
          }
        }
        }
      },
      methods: {
        async getData(){
            try{
              var data = await this.getAggregateData();
                console.log(data);
                this.series[0].data = [];
                this.series[1].data = [];
                this.series[2].data = [];
                for(var i=0;i<data.length;++i){
                  var x = data[i].endtime;
                  if("Motor_Temp" in data[i]) {
                    var y = data[i]["Motor_Temp"].average;
                    y = Math.floor(y * 100)/100;
                    this.series[0].data.push([x,y]);
                    
                  }
                    if("vCrest" in data[i]) {
                    var y2 = data[i]["vCrest"].average;
                    y2 = Math.floor(y2 * 100)/100
                    this.series[1].data.push([x,y2]);
                    }
                    if("aCrest" in data[i]) {
                    var y3 = data[i]["aCrest"].average;
                    y3 = Math.floor(y3 * 100)/100;
                    this.series[2].data.push([x,y3]);
                    }
                }
              }catch(err){
                console.log(err);
              }
              // setTimeout(this.getData, 1000);
        }
      },
      beforeCreate() {
      },
      created() {
        this.getData();
      },
      mounted: function () {
      }
 }
 </script>