<template>
    <div id="chart">
      <apexchart type=radialBar height=350 :options="chartOptions" :series="series" />
      <b-progress variant="success" :value="100"
            :max="100" class="bg-gray-lighter progress-xs" />
         <p>
            <small>
              <span class="circle bg-warning text-white">
                  <i class="fa fa-chevron" />
              </span>
            </small>
             <span class="fw-semi-bold"> Since last time</span>
        </p>
    </div>
</template>
<script>
/* eslint-disable */
import Vue from 'vue';
import VueApexCharts from 'vue-apexcharts';
import axios from "axios";

var data = '';
var series =[];
export default {
    components: {
        apexchart: VueApexCharts,
      },
      data: function() {
        return {
        data,
        series,
        chartOptions: {
          chart: {
            toolbar: {
              show: true
            }
          },
          plotOptions: {
            radialBar: {
              startAngle: -135,
              endAngle: 225,
              hollow: {
                margin: 0,
                size: '70%',
                background: '#fff',
                position: 'front',
                dropShadow: {
                  enabled: true,
                  top: 3,
                  left: 0,
                  blur: 4,
                  opacity: 0.24
                }
              },
              track: {
                background: '#fff',
                strokeWidth: '67%',
                margin: 0, // margin is in pixels
                dropShadow: {
                  enabled: true,
                  top: -3,
                  left: 0,
                  blur: 4,
                  opacity: 0.35
                }
              },

              dataLabels: {
                name: {
                  offsetY: -10,
                  show: true,
                  color: '#888',
                  fontSize: '17px'
                },
                value: {
                  formatter: function (val) {
                    // return parseInt(val) + " hPa";
                    return parseInt(val);
                  },
                  color: '#111',
                  fontSize: '36px',
                  show: true,
                }
              }
            }
          },
          fill: {
            type: 'gradient',
            gradient: {
              shade: 'dark',
              type: 'horizontal',
              shadeIntensity: 0.5,
              gradientToColors: ['#ABE5A1'],
              inverseColors: true,
              opacityFrom: 1,
              opacityTo: 1,
              stops: [0, 100]
            }
          },
          stroke: {
            lineCap: 'round'
          },
          labels: ['TimeSeriesData'],
        }
      }
    },
    methods: {
        async getData() {
          try{
            this.series = [];
            let data = await this.getTimeSeriesData();
            console.log(data[0]);
            if (data[0]["aCrest"]){
              this.chartOptions.labels[0] = 'aCrest';
              this.series.push(data[0]["aCrest"]);
            }
            if (data[0]["Ambient_Temp"]){
              this.chartOptions.labels[0] = 'Ambient_Temp';
              this.series.push(data[0]["Ambient_Temp"]);
            }
            if (data[0]["Motor_Temp"]){
              this.chartOptions.labels[0] = 'Motor_Temp';
              this.series.push(data[0]["Motor_Temp"]);
            }
            if (data[0]["Raw_Vibration_Signal"]){
              this.chartOptions.labels[0] = 'Raw_Vibration_Signal';
              this.series.push(data[0]["Raw_Vibration_Signal"]);
            }
            if (data[0]["vCrest"]){
              this.chartOptions.labels[0] = 'vCrest';
              this.series.push(data[0]["vCrest"]);
            }
          }catch(err){
            console.log(err);
          }
          setTimeout(this.getData, 20000);
        }
    },
    created() {
        this.getData();
    }
}
</script>