<template>
  <b-collapse class="sidebar-collapse" id="sidebar-collapse" :visible="sidebarOpened">
  <nav
    :class="{sidebar: true}"
  >
    <header class="logo">
      <router-link to="/app/dashboard">
      <img src="../../assets/logos/siemens.svg" alt="Siemens">
      <!-- Light <span class="fw-semi-bold">Blue</span> -->
      </router-link>
    </header>
    <br>
    <center>
    <h4>Demo Case</h4>
    <br>
    </center>
    <span class="thumb float-left mr">
                  <img class="rounded-circle" :src="person.src" :alt="person.name" />
                  <i v-bind:class="{'status':true, 'status-bottom':true, 'bg-success': onboard, 'bg-danger': !onboard}" />
                </span>
    <h6 class="m-0">{{ person.name }}</h6>
                  <p class="help-block text-ellipsis m-0">
                    DI&ensp; {{ person.department }}
                  </p>
                  <p class="help-block text-ellipsis m-0">
                    {{ person.position}}
                  </p>
                  <br>
                  <center>
                  <p class="help-block text-ellipsis m-0">
                    {{ person.phone}}
                  </p>
                  <p class="help-block text-ellipsis m-0">
                    {{ person.mail }}
                  </p>
          <md-field>
                  <label for="DI">DI</label>
                  <md-select @md-selected="onChange($event)" name="DI" id="DI">
                    <md-optgroup label="Company" style="background-color: rgba(255,255,255,.70);">
                      <md-option value="Siemens">Siemens</md-option>
                    </md-optgroup>
                    <md-optgroup label="GM" style="background-color: rgba(255,255,255,.70);">
                      <md-option value="Tino Hildebrand">Tino Hildebrand</md-option>
                    </md-optgroup>

                    <md-optgroup label="CS" style="background-color: rgba(255,255,255,.70);">
                      <md-option value="Yu-Chiao Su">Yu-Chiao Su</md-option>
                      <md-option value="Chien-Yu Wu">Chien-Yu Wu</md-option>
                      <md-option value="Nick Chung">Nick Chung</md-option>
                    </md-optgroup>
                    <md-optgroup label="FA" style="background-color: rgba(255,255,255,.70);">
                      <md-option value="Kevin Lai">Kevin Lai</md-option>
                      <md-option value="Richard Chou">Richard Chou</md-option>
                    </md-optgroup>
                  </md-select>
                </md-field>
                </center>
    <!-- {{ data }} -->
    <center>
    <md-button class="md-primary" style="color:white;" v-if="onboard"  @click="workStatus">On Board</md-button>
    <md-button class="md-primary" style="color:white;"  v-if="!onboard"  @click="workStatus">Off Ｗork</md-button>
    </center>
    <ul class="nav">
      <NavLink
              :activeItem="activeItem"
              header="Dashboard"
              link="/app/dashboard"
              iconName="flaticon-home"
              index="dashboard"
              isHeader
      />
    </ul>
  </nav>
  </b-collapse>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import axios from 'axios';
import Widget from '@/components/Widget/Widget';
import { mapState, mapActions } from 'vuex';
import NavLink from './NavLink/NavLink';
import { setTimeout } from 'timers';

export default {
  name: 'Sidebar',
  components: { NavLink },
  data() {
    return {
      data: '123',
      Widget,
      onboard: false,
      member: [
        {
          name: 'Tino Hildebrand',
          department: '',
          position: 'GM',
          phone: '+886960548600',
          mail: 'tino.hildebrand@siemens.com',
          src: require('../../assets/people/Tino.jpg')
        },
        {
          name: 'Yu-Chiao Su',
          department: 'CS',
          position: 'Deputy Director',
          phone: '+886981986935',
          mail: 'yuchiao.su@siemens.com',
          src: require('../../assets/people/SiemensPage.png')
        },
        {
          name: 'Nick Chung',
          department: 'CS',
          position: 'Summer Intern',
          phone: '+886988402920',
          mail: 'nick.chung@siemens.com',
          src: require('../../assets/people/Nick.jpg')
        },
        {
          name: 'Chien-Yu Wu',
          department: 'CS',
          position: 'DAE',
          phone: '+886962019770',
          mail: 'chienyu.wu@siemens.com',
          src: require('../../assets/people/Chien-Yu.jpg')
        },
        {
          name: 'Kevin Lai',
          department: 'FA',
          position: ' APM',
          phone: '+886976062960',
          mail: ' kevin.lai@siemens.com',
          src: require('../../assets/people/Kevin.jpg')
        },
        {
          name: 'Richard Chou',
          department: 'FA',
          position: 'Summer Intern',
          phone: '+886919681361',
          mail: 'richard.chou@siemens.com',
          src: require('../../assets/people/Richard.jpg')
        },
        {
        name: 'Siemens',
        department: '',
        position: 'Taiwan',
        phone: '0800-202-808',
        mail: 'adscs.taiwan@siemens.com',
        src: require('../../assets/people/SiemensPage.png')
      }
      ],
      person: {
        name: 'Siemens',
        department: '',
        position: 'Taiwan',
        phone: '0800-202-808',
        mail: 'adscs.taiwan@siemens.com',
        src: require('../../assets/people/SiemensPage.png')
      },
      alerts: [
        {
          id: 0,
          title: 'Sales Report',
          value: 15,
          footer: 'Calculating x-axis bias... 65%',
          color: 'info',
        },
        {
          id: 1,
          title: 'Personal Responsibility',
          value: 20,
          footer: 'Provide required notes',
          color: 'danger',
        },
      ],
    };
  },
  methods: {
    ...mapActions('layout', ['changeSidebarActive', 'switchSidebar']),
    setActiveByRoute() {
      const paths = this.$route.fullPath.split('/');
      paths.pop();
      this.changeSidebarActive(paths.join('/'));
    },
    onChange(event) {
      this.onboard = false;
      for(var i = 0 ; i < this.member.length;i ++){
        if ( this.member[i].name == event ) {
          this.person = this.member[i];
        }
      }
    },
    workStatus() {
      this.onboard = !this.onboard;
    },
    sendMail() {
      if ( this.$store.state.data.data >= 20 && this.onboard == true){
      axios.get('https://semens-practice.herokuapp.com/mail/'+ this.person.mail + '&' + this.person.name)
        .then(function (res) {
          console.log('Successfully!!');
        })
        .catch(function (err) {
          console.log(err);
        });
      }
      setTimeout(this.sendMail,120000);
    },
  },
  created() {
    this.setActiveByRoute();
    this.sendMail();
  },
  mounted() {
    this.data = this.$store.state.data
  },
  computed: {
    ...mapState('layout', {
      sidebarOpened: state => !state.sidebarClose,
      activeItem: state => state.sidebarActiveElement,
    }),
  },
};
</script>

<!-- Sidebar styles should be scoped -->
<style src="./Sidebar.scss" lang="scss" scoped/>
